@import '../common';

.modal {
    border: 1px solid $gray-strong;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 5px 15px 15px;
    border-radius: 10px;
    transition: all 0.3s ease-out;
    
    // z-index will not be used, and if so will be <=10 most times. This will display on top.
    z-index: 100;
}

.backdrop {
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 99;
    position: fixed;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(2px);
}

.closeIcon {
    color: $gray-subtle;
    margin-left: 95%;
    margin-top: 5px;

    &:hover {
        color: $secondary;
    }
}

.iconContainer {
    text-align: right;
}