@import "../common/common";

.profileCard {
    width: 150px;
    height: 300px;
    border-radius: 20px;
    background-color: $secondary;
    text-align: center;
    padding: 20px;

    .name {
        font-family: $header-fonts;
        font-size: 18pt;
        font-weight: bold;
        color: $primary;
    }
}

.profileImg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}